.row-grid + .row-grid {
    margin-top: 10px;
    margin-bottom: 10px;
}

body {
    padding-bottom: 50px;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #F06B10;
}

.footer-colors {
    color: white;
    background-color: #0d224f;
}

.codetextarea {
  font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
  font-size:14pt;
  margin-left:50pt;
  margin-right:50pt;
  margin-top: 10pt;
  margin-top: 10pt;
  padding: 10pt;
  background-color: White;
}

.numberrect {
    fill: #0d224f;
}

.nonumberrect {
    fill: #ff0000;
}

.odduserrect {
    fill: #0d224f;
}

.evenuserrect {
    fill: #406abf;
}

.numbercurve circle {
    fill: #406abf;
}

.numberlabel {
    fill: #0d224f;
    font: 8pt sans-serif;
}

.nonumberlabel {
    fill: #800000;
    font: 8pt sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #0d224f;
    shape-rendering: crispEdges;
}
.axis text{
    fill: #0d224f;
}
.axis .axislabel {
    fill: #0d224f;
    font: 14pt sans-serif;
}
