.row-grid + .row-grid {
    margin-top: 10px;
    margin-bottom: 10px;
}

body {
    padding-bottom: 50px;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #F06B10;
}

.riquadro {
    width: 100px;
    height: 100px;
    overflow-y: hidden;
}

.footer-colors {
    color: white;
    background-color: #0d224f;
}
