{% extends "base.html" %}

{% block content %}
    {{ super() }}

    <div class="container">
      <h3>
        <i class="fa fa-calendar fa-lg" aria-hidden="true"></i>
        {{ title }}
      </h3>
      <p id="menu">
            <span>
                 <b>Min. number duration: </b>
                <input size="4" maxlength="5" type="text" name="durationthreshold" id="durationthreshold" value="5">
                <b>minutes.</b>
            </span>
            <span>
                 <b>Min. user connection: </b>
                <input size="4" maxlength="5" type="text" name="accessthreshold" id="accessthreshold" value="10">
                <b>minutes.</b>
            </span>
            <span>
                <b>Go back </b>
                <input size="4" maxlength="5" type="text" name="daysback" id="daysback" value="90">
                <b>days.</b>
            </span>
      </p>
      <hr>
      <!-- Here the plot is built -->
        <svg class="chart"></svg>
        <script src="/static/ubq/d3/d3.min.js" charset="utf-8"></script>
        <script>
          var counterid="{{counterid}}";
        </script>
        <script>
            var formatTime=function(tstamp){
                var date = new Date(tstamp);
                // Hours part from the timestamp
                var hours = date.getHours();
                // Minutes part from the timestamp
                var minutes = "0" + date.getMinutes();
                // Seconds part from the timestamp
                var seconds = "0" + date.getSeconds();
                // Will return time in 10:30:23 format
                return hours + ':' + minutes.substr(-2) + ':' + seconds.substr(-2);
            }

            var margin = {top: 20, right: 30, bottom: 40, left: 50},
                width = 1000 - margin.left - margin.right,
                height = 350 - margin.top - margin.bottom;
    
            var y = d3.scaleLinear()
                    .range([height,0]);
            var x = d3.scaleTime()
                    .range([0, width]);
            var xAxis = d3.axisBottom()
                .scale(x)
            var yAxis = d3.axisLeft()
                .scale(y);

            var chart = d3.select(".chart")
                .attr("width", width + margin.left + margin.right)
                .attr("height", height + margin.top + margin.bottom)
                .append("g")
                // see mouse-events below
                .attr("pointer-events", "all")
                .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

            var clip = chart.append("defs").append("svg:clipPath")
                .attr("id", "clip")
                .append("svg:rect")
                .attr("id", "clip-rect")
                .attr("x", "0")
                .attr("y", "0")
                .attr("width", width)
                .attr("height", height);
            var chartBody = chart.append("g")
                .attr("id","chartBody")
                .attr("clip-path", "url(#clip)");
            var chartNumbers=chartBody.append("g")
                .attr("id","chartNumbers");
            var chartAccesses=chartBody.append("g")
                .attr("id","chartAccesses");

            function formatDate(jTimestamp){
                var a = new Date(jTimestamp);
                var months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
                var year = a.getFullYear();
                var month = months[a.getMonth()];
                var date = a.getDate();
                var time = month + ' ' + date + ', ' + year;
                return time;
            }

            var xaxis=chart.append("g")
                .attr("class", "x axis")
                .attr("transform", "translate(0," + height + ")");
            xaxis.append("text")
                .attr("class","axislabel")
                .attr("x", width)
                .attr("dx", "-10px")
                .attr("dy", "34")
                .style("text-anchor", "end")
                .text("Time");
            var yaxis=chart.append("g")
                .attr("class", "y axis");
            var ycaption=yaxis.append("text")
                .attr("class","axislabel")
                .attr("transform", "rotate(-90)")
                .attr("y", -20)
                .attr("dy", "-0.71em")
                .style("text-anchor", "end")
                .text("Users");

            var redraw=function(){
                PLOT_GUTTER=1000*43200; // half a day of gutter 
                var durationthreshold=menu_durationthreshold.property("value")*60;
                var accessthreshold=menu_accessthreshold.property("value")*60;
                var daysback=menu_daysback.property("value");
                d3.json(
                    "{{url_for('DATA_daily_volumes',counterid='COUNTERID',durationthreshold='DURATIONTHRESHOLD',accessthreshold='ACCESSTHRESHOLD',daysBack='DAYSBACK')}}"
                        .replace('COUNTERID',counterid)
                        .replace('DURATIONTHRESHOLD',durationthreshold)
                        .replace('ACCESSTHRESHOLD',accessthreshold)
                        .replace('DAYSBACK',daysback),
                    function(error,data){

                    // FOR NOW ONLY THE NUMBERS ARE LOGGED

                    // restrict the range to the time of interest (depends on data!)
                    var time_min=d3.min(
                        [
                            d3.min(
                                data.numbers,
                                function(u){return u.date;}
                            ),
                            d3.min(
                                data.accesses,
                                function(u){return u.date;}
                            ),
                        ]
                    );
                    var time_max=d3.max(
                        [
                            d3.max(
                                data.numbers,
                                function(u){return u.date;}
                            ),
                            d3.max(
                                data.accesses,
                                function(u){return u.date;}
                            ),
                        ]
                    );
                    var y_max=d3.max(
                        [
                            d3.max(
                                data.numbers,
                                function(u){return u.value;}
                            ),
                            d3.max(
                                data.accesses,
                                function(u){return u.value;}
                            ),
                        ]
                    );
                    x.domain([time_min-PLOT_GUTTER,time_max+PLOT_GUTTER]);
                    y.domain([0,1+y_max]);
                    unitheight=y(0)-y(1);

                    chartNumbers.selectAll("g").remove();
                    chartAccesses.selectAll("g").remove();

                    ycaption.text("Count");

                    // we now re-compute the d3 select to add new items
                    var numbersel=chartNumbers.selectAll("g").data(data.numbers,function(d){return d.date;});
                    var accesssel=chartAccesses.selectAll("g").data(data.accesses,function(d){return d.date;});

                    numbers=numbersel
                        .enter()
                        .append("g")
                        .attr("transform", function(d,i) {return "translate("+x(d.date)
                          +","+y(d.value)+")"; } );
                    accesses=accesssel
                        .enter()
                        .append("g")
                        .attr("transform", function(d,i) {return "translate("+x(d.date)
                          +","+y(d.value)+")"; } );

                    numbers.append("circle")
                        //.attr("class","numbercurve")
                        .attr("r",3)
                        .attr("cx",0)
                        .attr("cy",0)
                        .style("fill","#406abf");
                    accesses.append("circle")
                        //.attr("class","accesscurve")
                        .attr("r",3)
                        .attr("cx",0)
                        .attr("cy",0)
                        .style("fill","#0d224f");
                    numbers.append("title")
                        .text(function(d) { return formatDate(d.date)+
                            ": "+d.value+" numbers"; });
                    accesses.append("title")
                        .text(function(d) { return formatDate(d.date)+
                            ": "+d.value+" accesses"; });
                    xaxis.call(xAxis);
                    yaxis.call(yAxis);
                });
            };

            // alert("Add a check to prevent useless redraws, with a var to keep track");
            var menu_durationthreshold = d3.select("#durationthreshold")
                .on("change keyup", redraw);
            var menu_accessthreshold = d3.select("#accessthreshold")
                .on("change keyup", redraw);
            var menu_daysback = d3.select("#daysback")
                .on("change keyup", redraw);

            redraw();
        </script>
      <!-- End of the plot -->
    </div>

    {% block footer %}
        {{ super() }}
    {% endblock %}

{% endblock %}
