{% extends "base.html" %}

{% block content %}
    {{ super() }}

    <div class="container">
      <h2>
        <i class="fa fa-users fa-lg" aria-hidden="true"></i>
        {{ title }}
      </h2>
      <hr>
      <table class="table table-hover">
        <thead>
          <tr>
            <th class="col col-sm-1">
              ID
            </th>
            <th class="col col-sm-6">
              Counter name
            </th>
            <th class="col col-sm-1">
              Per day
            </th>
            <th class="col col-sm-1">
              Volumes
            </th>
            <th class="col col-sm-1">
              Weekly
            </th>
            <th class="col col-sm-1">
              Recurring
            </th>
            <th class="col col-sm-1">
              Frequent
            </th>
          </tr>
        </thead>
        <tbody>
        {% for counter in counters %}
          <tr>
              <td>
                {{ counter.id }}
              </td>
              <td>
                {{ counter.name }}
              </td>
              <td>
                <a href="{{url_for('ep_accessstats_usage_per_day', counterid=counter.id)}}">
                  <i class="fa fa-clock-o fa-lg" aria-hidden="true"></i>
                </a>
              </td>
              <td>
                <a href="{{url_for('ep_accessstats_daily_volumes', counterid=counter.id)}}">
                  <i class="fa fa-calendar fa-lg" aria-hidden="true"></i>
                </a>
              </td>
              <td>
                <a href="{{url_for('ep_accessstats_weekly_patterns', counterid=counter.id)}}">
                  <i class="fa fa-calculator fa-lg" aria-hidden="true"></i>
                </a>
              </td>
              <td>
                <a href="{{url_for('ep_accessstats_recurring_users', counterid=counter.id)}}">
                  <i class="fa fa-braille fa-lg" aria-hidden="true"></i>
                </a>
              </td>
              <td>
                <!-- <a href="{{url_for('ep_accessstats_recurring_users', counterid=counter.id)}}"> -->
                  <i class="fa fa-id-card-o fa-lg" aria-hidden="true"></i>
                <!-- </a> -->
              </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>

    {% block footer %}
        {{ super() }}
    {% endblock %}

{% endblock %}

