{% extends "base.html" %}

{% block content %}
  {{ super() }}
<div class="container">
  <h2>
    <i class="fa fa-key fa-lg" aria-hidden="true"></i>
    Change password
  </h2>
  <hr>
  <form action="" method="post" name="changepassword">
    <div class="form-group">
      {{ form.hidden_tag() }}
      <div class="row row-grid">
        <div class="col-sm-4">
          <label for="oldpassword">
            Old password
          </label>
        </div>
        <div class="col-sm-8">
          {{ form.oldpassword(size=12, class_="form-control",tabindex=1) }}
          {% for error in form.oldpassword.errors %}
            <span style="color: red;">{{ error }}</span>
          {% endfor %}
        </div>
      </div>
      <div class="row row-grid">
        <div class="col-sm-4">
          <label>
            New password
          </label>
        </div>
        <div class="col-sm-8">
          {{ form.newpassword(size=12, class_="form-control",tabindex=2) }}
          {% for error in form.newpassword.errors %}
            <span style="color: red;">{{ error }}</span>
          {% endfor %}
        </div>
      </div>
      <div class="row row-grid">
        <div class="col-sm-4">
          <label>
            Repeat password
          </label>
        </div>
        <div class="col-sm-8">
          {{ form.confirmpassword(size=12, class_="form-control",tabindex=3) }}
          {% for error in form.confirmpassword.errors %}
            <span style="color: red;">{{ error }}</span>
          {% endfor %}
        </div>
      </div>
      <div class="row row-grid">
        <div class="col-sm-2">
          {{ form.submit(class_='btn btn-success',tabindex=4) }}
        </div>
      </div>
    </div>
  </form>
</div>

{% block footer %}
    {{ super() }}
{% endblock %}

{% endblock %}
