<html>
    <head>
        <title>{{ counter.fullname }} - UBQ</title>
        <meta http-equiv="refresh" content="5">
    </head>
    <body bgcolor="{{ counter.bcolor }}">
        <p align="center">
            <b>
                <font size="10vw;" color="{{ counter.fcolor }}">
                    {{ counter.value }}
                </font>
                <br>
                <font size="1vw;"   color="{{ counter.ncolor }}">
                    <i>
                        {{ counter.message }}
                    </i>
                </font>
            </b>
        </p>
    </body>
</html>
