{% extends "base.html" %}

{% block content %}
  {{ super() }}
 <div class="container">
  <h2>
    <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>
    Counter properties
  </h2>
  <hr>
  <script src="/static/ubq/d3/d3.min.js" charset="utf-8"></script>
  <form action="" method="post" name="login">
    <div class="form-group">
     {{ form.hidden_tag() }}
      <div class="row row-grid"">
        <div class="col-sm-2">
          <label for="counterid">
            ID
          </label>
        </div>
        <div class="col-sm-2">
          {{ form.counterid(size=10, class_="form-control", placeholder="Unique short identifier") }}
          {% for error in form.counterid.errors %}
            <span style="color: red;">{{ error }}</span>
          {% endfor %}
        </div>
        <div class="col-sm-2">
          <label for="fullname">
            Full name
          </label>
        </div>
        <div class="col-sm-6">
          {{ form.fullname(size=30, class_="form-control", placeholder="Long counter name") }}
          {% for error in form.fullname.errors %}
            <span style="color: red;">{{ error }}</span>
          {% endfor %}
        </div>
      </div>
      <div class="row row-grid">
        <div class="col-sm-2">
          <label for="key">
            Key
          </label>
        </div>
        <div class="col-sm-4">
          {{ form.key(size=10, class_="form-control", placeholder="Secret key for updates") }}
          {% for error in form.key.errors %}
            <span style="color: red;">{{ error }}</span>
          {% endfor %}
        </div>
        <div class="col-sm-2">
          <label for="mode">
            Mode
          </label>
        </div>
        <div class="col-sm-4">
          {{ form.mode(class_="form-control") }}
          {% for error in form.mode.errors %}
            <span style="color: red;">{{ error }}</span>
          {% endfor %}
        </div>
      </div>
      <div class="row row-grid">
        <div class="col-sm-2">
          <label for="fcolor">
            Text color
            &nbsp;<a href="{{ url_for('ep_colorhelp') }}" target="_blank"><i class="fa fa-question-circle-o fa-lg" aria-hidden="true"></i></a>
            &nbsp;
            <span id="colorbox_text" style="color: {{ form.fcolor.data }}">
              <i class="fa fa-square fa-2x" aria-hidden="true"></i>
            </span>
          </label>
        </div>
        <div class="col-sm-2">
          {{ form.fcolor(class_="form-control",id="colorinput_text") }}
          {% for error in form.fcolor.errors %}
            <span style="color: red;">{{ error }}</span>
          {% endfor %}
        </div>
        <div class="col-sm-2">
          <label for="bcolor">
            Back color
            &nbsp;<a href="{{ url_for('ep_colorhelp') }}" target="_blank"><i class="fa fa-question-circle-o fa-lg" aria-hidden="true"></i></a>
            &nbsp;
            <span id="colorbox_back" style="color: {{ form.bcolor.data }}">
              <i class="fa fa-square fa-2x" aria-hidden="true"></i>
            </span>
          </label>
        </div>
        <div class="col-sm-2">
          {{ form.bcolor(class_="form-control",id="colorinput_back") }}
          {% for error in form.bcolor.errors %}
            <span style="color: red;">{{ error }}</span>
          {% endfor %}
        </div>
        <div class="col-sm-2">
          <label for="ncolor">
            Note color
            &nbsp;<a href="{{ url_for('ep_colorhelp') }}" target="_blank"><i class="fa fa-question-circle-o fa-lg" aria-hidden="true"></i></a>
            &nbsp;
            <span id="colorbox_note" style="color: {{ form.ncolor.data }}">
              <i class="fa fa-square fa-2x" aria-hidden="true"></i>
            </span>
          </label>
        </div>
        <div class="col-sm-2">
          {{ form.ncolor(class_="form-control",id="colorinput_note") }}
          {% for error in form.ncolor.errors %}
            <span style="color: red;">{{ error }}</span>
          {% endfor %}
        </div>
      </div>
      <div class="row row-grid">
        <div class="col-sm-2">
          <label for="notes">
            Notes
          </label>
        </div>
        <div class="col-sm-10">
          {{ form.notes(size=30, class_="form-control") }}
          {% for error in form.notes.errors %}
            <span style="color: red;">{{ error }}</span>
          {% endfor %}
        </div>
      </div>
      <div class="row row-grid">
        <div class="col-sm-2">
          {{ form.submit(class_='btn btn-success') }}
        </div>
      </div>
    </div>
  </form>
  <script>
    var recolor=function(postfix){
      var boxcol_t=d3.select("#colorinput_"+postfix).property("value");
      d3.select("#colorbox_"+postfix).style("color",boxcol_t);
    };
    var reco = d3.select("#colorinput_text").on("change keyup",function(){recolor("text");});
    var reco = d3.select("#colorinput_back").on("change keyup",function(){recolor("back");});
    var reco = d3.select("#colorinput_note").on("change keyup",function(){recolor("note");});
  </script>
</div>

{% block footer %}
    {{ super() }}
{% endblock %}

{% endblock %}
