{% extends "base.html" %}

{% block content %}
    {{ super() }}

    <div class="container">
      <h3>Embed code for {{fullname}}</h3>
      <hr>
      Copy and paste the following HTML code into your HTML page:
      <div class="codetextarea">
          {% for li in embedcode %}
            {% for n in range(li.spaces) %}
              &nbsp;
            {% endfor %}
            {{ li.contents }}
            {% if li.br %}
              <br>
            {% endif %}
          {% endfor %}
      </div>
    </div>

    {% block footer %}
        {{ super() }}
    {% endblock %}

{% endblock %}

