{% extends "base.html" %}

{% block content %}
    {{ super() }}

    <div class="container">
      <h2>
        <i class="fa fa-exclamation-triangle fa-lg" aria-hidden="true"></i>
        View alert {{ alert.alertid }}
      </h2>
      <hr>
      <p>
        <b>
          Date:
        </b>
        {{ alert.date }}
      </p>
      <p>
        <b>
          Type:
        </b>
        {{ alert.type }}
      </p>
      <p>
        <b>
          Counter ID:
        </b>
        {{ alert.counterid }}
      </p>
      <p>
        <b>
          Subject:
        </b>
        {{ alert.subject }}
      </p>
      <p>
        <b>
          Body:
        </b>
      </p>
      <p>
        <div class="messagebody">
          {% for line in alert.message %}
            <div>{{ line }}</div>
          {% endfor %}
        </div>
      </p>
      <hr>
      <a href="{{ url_for('ep_system_alerts',count=10) }}">
        Back
      </a>
    </div>

    {% block footer %}
        {{ super() }}
    {% endblock %}

{% endblock %}

